* {
  font-family: 'Anybody', cursive;
}

:root {
  --blk: rgba(0, 0, 0, 0.872);
  --gray: rgba(0, 0, 0, .12);
  --pink: #aa6868;
  --wht: #f2f2f2;
}

/* NAVIGATION BAR */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

.nav-bar {
  background-color: var(--blk);
  overflow: hidden;
}

.nav-bar a {
  float: left;
  display: block;
  color: var(--wht);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.2s;
}

.nav-bar a:hover {
  background-color: var(--pink);
}

.nav-bar a.active {
  background-color: var(--pink);
  color: var(--wht);
}

.nav-bar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-bar a {display: none}
  .nav-bar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar.responsive {position: relative}
  .nav-bar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ABOUT */
.about-container {
  display: flex;
  justify-content: center;
  padding-top: 106px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.colA { 
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colA img {
  height: 500px;
}

.colC { 
  width: 40%; 
  display: flex;
  padding: 15px;
  flex-direction: column;
  text-align: center;
  line-height: 1.3;
  align-items: center;
}

.colC h1 {
  font-size: 100px;
  margin: auto;
  padding: 0px;
}

.colC-links { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.colC-links a {
  font-size: 30px;
  color: var(--blk);
  transition: 0.2s;
  margin: 0 20px;
}

.colC-links a:hover {
  color: var(--pink);
}

.colC h4 {
  font-style: italic;
  color: var(--pink);
}

@media screen and (max-width: 500px) {
  .about-container { flex-direction: column; }
  .colA, .colB, .colC { width: 90%; }
  .colB { padding-top: 30px; }
}

@media screen and (min-width: 501px) and (max-width: 750px) { 
  .colA, .colC { width: 50%; }
  .colB { display: none; }
}

/* TECH STACK */
h1 {
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: xxx-large;
  text-align: center;
}

.tech-stack-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 85vw;
}

.tech-colA, .tech-colB, .tech-colC {
  width: 28%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

/* PROJECTS */
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

li {
  list-style-type: none;
}

.project {
  padding-bottom: 40px;
}

.project-img {
  width: 100%;
  transition: all 500ms ease;
}

.project-container {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}

.project:hover .project-container:before {
  transform: translateY(0);
  opacity: 0.7;
}

.project:hover .project-img {
  transform: scale(1.05);
  filter: blur(3px);
}

.project:hover .description {
  opacity: 1;
  transform: translateY(-50%);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}

.description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.title {
  font-size: 40px;
}

.info {
  margin: 16px 0;
}

.links {
  font-size: 20px;
  margin-right: 16px;
}

.title, .subtitle, .info, .links {
  text-align: left;
  color: var(--wht);
}

/* CONTACT */

.contact-container {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-container:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: blur(50px);
	z-index: -1;
}

.contact-box{
	width: 900px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
  padding-top: 25px;
	background-color: var(--wht);
	box-shadow: 0px 0px 25px 5px var(--pink);
  border-radius: 3px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: larger;
}

.left img {
  height: 250px;
  opacity: .8;
  padding-bottom: 20px;
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
}

.field {
  width: 80%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid var(--blk);
  background-color: var(--wht);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
	background-color: var(--gray);
}

.field:focus {
  background-color: var(--gray);
  border: 2px solid var(--blk);
}

textarea {
	min-height: 150px;
}

.btn {
  width: 30%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: var(--gray);
  cursor: pointer;
  outline: var(--blk);
  transition: .3s;
  color: var(--blk);
  margin-bottom: 20px;
}

.btn:hover {
  background-color: var(--pink);
}

@media screen and (max-width: 830px) {
  .contact-box {
    grid-template-columns: 1fr;
    width: 600px;
    justify-items: center;
  }
}

/* FOOTER */
.b2t {
  display: flex;
  justify-content: center;
  color: var(--pink);
}